<h1>
    <span class="bd-content-title">
        <%= t('helpers.submit.create', model: t('activerecord.models.news.one')) %>
    </span>
</h1>

<hr>

<%= render 'form', admin_news: @admin_news, submit: t('helpers.actions.create') %>
