<h1>
    <span class="bd-content-title">
        <%= t('helpers.submit.update', model: t('activerecord.models.video.one')) %>
    </span>
</h1>

<hr>

<%= render 'form', admin_video: @admin_video, submit: t('helpers.actions.update') %>
